<% if ( !btncfg.counterLocale ) { %>
<% if(btncfg.fbcolor && btncfg.fbcolor.length > 0) { %>
<div style="display:block; overflow: hidden; background-color:<%= btncfg.fbcolor %>;" class="<%= btncfg.btnClass %>" tabindex="0" role="button">
<% } else { %>
<div style="display:block; overflow: hidden;" class="<%= btncfg.btnClass %>" tabindex="0" role="button">
<% } %>
  <img src="<%= btncfg.imgsrc%>" class="_acsBadgeImg" alt="ForeSee Feedback Survey"/>
  <span class="_acsBadgeLabel"><%= btncfg.label %></span>
</div>
<% } else { %>
<% if(btncfg.fbcolor && btncfg.fbcolor.length > 0) { %>
<div class="<%= btncfg.btnClass %>" style="background-color:<%= btncfg.fbcolor %>;" tabindex="0" role="button">
<% } else { %>
<div style="display:block; overflow: hidden;" class="<%= btncfg.btnClass %>" tabindex="0" role="button">
<% } %>
  <span class="_acsCounter">
    <span class="_acsCounterInner"><%= btncfg.counterLocale %></span>
  </span>
  <span class="_acsBadgeLabel"><%= btncfg.label %></span>
</div>
<% } %>