// TODO: NEXT LINE HIDES OPINION LAB BADGE
#oo_tab {
  display: none !important;
}
.acs-feedback__forcefont {
  display: none;
  font-family: "Material Icons";
}
._acs ._acsNoDisplay {
  display: none !important;
}