// CC-4012
.acs-feedback .star-rating:before {
  background-image: none !important;
}

.star-rating {
  will-change: color;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  color: $c-app-rating-star-disabled !important;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  font-size: 3.5em;
  // For B&Q: (DIY.COM)
  background-image: none !important;
  // For Express
  background-color: transparent;
  height: auto;
  display: inline-block;
  width: 100% !important;
  line-height: 1;
  text-align: center;
  .star-rating__star {
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    &:before {
      @include mi;
      font-family: "Material Icons";
      content: $mi-star_border;
    }
    &--fill {
      &:before {
        @include mi;
        font-family: "Material Icons";
        content: $mi-star;
      }
    }
  }
  &--disabled {
    color: $c-app-rating-star-disabled;
    .star-rating__star {
      cursor: default;
      border: 0;
    }
  }
  .star-rating__star--fill {
    color: $c-app-rating-star-selected;
    &:before {
      display: initial;
    }
  }

  label {
    display: inline-block !important;
    font-size: inherit !important;

    outline-width: medium;
    outline-color: $c-app-grey-40;
    &:focus {
      outline-style: solid !important;
    }
  }

  label:before {
    position: inherit;
    font-size: inherit;
    transition: color 150ms ease;
    -webkit-transition: color 150ms ease;
    -moz-transition: color 150ms ease;
    -o-transition: color 150ms ease;
    width: 1em;
    border: none;
    box-shadow: none;

    // Tervis CSS.
    background: none !important;

    @include mi;
    display: inherit;
    font-family: "Material Icons";
    content: $mi-star_border;
    margin: 0;
    top: 0;
  }
  &._acsRatingSet {
    label._acsHover:before {
      color: $c-app-rating-star !important;
    }
  }
  input[type="radio"] {
    display: none;
  }
  input.star-rating__star + label {
    border: 0;
    cursor: pointer;
    display: inline-block;
    float: none !important;
    font-size: 4em;
    margin: 0px;
    padding: 0em;
    width: auto;
    .acsMainContainerMobile & {
      font-size: 5em !important;
    }
  }
  input.star-rating__star:checked + label:before {
    content: $mi-star;
  }
  label:hover:before,
  label._acsHover:before {
    color: $c-app-rating-star;
    content: $mi-star;
  }
}
