$general-padding: 0.75em;
$general-borderradius: ($general-padding * 0.3);
$general-bigpadding: 1.5em;
$general-font-family: Arial, Helvetica, sans-serif !important;
$svglogo: url('https://static.foresee.com/logos/foresee/foresee.svg');
$svgtrustlogo: url('https://static.foresee.com/logos/truste/truste.svg');
$bluecolor: #0062E9;
$break-small: 50em;
$break-very-small: 40em;