$general-padding: 1.5em;
$general-borderradius: 0.2em;
$general-bigpadding: 1.9em;
$general-font-family: Arial, Helvetica, sans-serif !important;
$svglogo: url('https://static.foresee.com/logos/foresee/foresee.svg');
$svgtrustlogo: url('https://static.foresee.com/logos/truste/truste.svg');
$bluecolor: #0062E9;
$break-small: 50em;