@import 'vars';
@import 'reset';
@import 'backdrop';
@import 'invite';
@import 'tracker';

.__acs {
  font-size: 16px !important;
  .acsNoDisplay {
    display: none !important;
    visibility: hidden !important;;
  }
  .acsDisplay {
    display: block !important;
    visibility: visible !important;
  }
}