@import 'vars';

.__acs {
  &.acsActiveTracker {
    #buttonAreaContainer {
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  &.acsTracker {
    overflow: hidden;
    margin: $general-bigpadding;
    font-family: Arial, Helvetica, sans-serif;
    .acsSiteLogo, .acsVendorLogo, .acsVendorLogoSVG, .acsLogoSpacer {
      height: 4em;
    }
    .acsVendorLogoSVG {
      background-image: $svglogo;
      background-size: 100% 100%;
      width: 7em;
      float: right;
    }
    .acsVendorLogo {
      float: right;
    }
    .acsLogoSpacer {
      margin-bottom: $general-bigpadding;
    }
    #buttonAreaContainer {
      border: 1px dashed #cccccc;
      padding-left: $general-bigpadding;
      padding-right: $general-bigpadding;
      border-radius: $general-borderradius;
      text-align: center;
      position: relative;
    }
    h1 {
      color: #0F6FD5;
      font-size: 1.4em;
      margin-bottom: ($general-padding - 0.5);
    }
    .initialContent {
      margin-bottom: $general-padding;
    }
    .showLater {
      display: none;
    }
    p {
      font-size: 0.9em;
      margin-bottom: $general-padding;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .lessImportantIntructions {
      color: #999;
    }
    .copyrightDetails {
      font-size: 0.8em;
    }
    #loadImg {
      width: 1em;
      height: 1em;
      position: absolute;
      left: 49%;
      top: 49%;
      visibility: hidden;
    }
  }
}