<% if ( !btncfg.counterLocale ) { %>
  <% if(btncfg.fbcolor && btncfg.fbcolor.length > 0) { %>
  <div style="display:block; overflow: hidden; background-color:<%= btncfg.fbcolor %>;" class="<%= btncfg.btnClass %>">
  <% } else { %>
  <div style="display:block; overflow: hidden;" class="<%= btncfg.btnClass %>">
  <% } %>
    <span class="_acsBadgeLabel"><%= btncfg.label %>&nbsp;</span>
  </div>
<% } else { %>
  <% if(btncfg.fbcolor && btncfg.fbcolor.length > 0) { %>
  <div class="<%= btncfg.btnClass %>" style="background-color:<%= btncfg.fbcolor %>;">
  <% } else { %>
  <div style="display:block; overflow: hidden;" class="<%= btncfg.btnClass %>">
  <% } %>
    <span class="_acsCounter">
      <span class="_acsCounterInner"><%= btncfg.counterLocale %></span>
    </span>
    <span class="_acsBadgeLabel"><%= btncfg.label %></span>
  </div>
<% } %>