@mixin inviteMixin {

  .fsrModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 2147483647;
  }

  .fsrInvite {
    max-width: 28.125em;
    min-width: 20em;
    top: 50%;
    position: relative;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #ffffff;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em;
    box-shadow: 0 3px 5px 0 rgba(34, 43, 60, 0.5);
    // TODO: not supported in all browsers, should this be in reset?
    -webkit-font-smoothing: initial;

    &__heading {
      font-weight: 500;
      font-size: 1.75em;
      margin-top: 1.25em;
      margin-bottom: 0.714em;
    }

    &__closeWrapper {
      z-index: 2;
      display: flex;
      position: absolute;
      right: -0.5em;
      top: -0.5em;
      font-size: 2.1em;
      // reset default style for a button
      border: none;
      background: none;
      padding: 0.2em;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--margin {
      margin-top: 0.7em;
      margin-bottom: 1.5625em;
      margin-left: 1.5625em;
      margin-right: 1.5625em;
    }
  }

  .fsrBanner {
    height: 7.8125em;
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    position: relative;
    background-size: cover;
    background-position: center center;
  }

  .fsrClientLogo {
    width: $client-logo-height;
    height: $client-logo-height;
    padding: $client-logo-padding;
    margin-top: $client-logo-height / -2;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #ffffff;
    position: relative;
    box-sizing: border-box;

    &__img {
      width: 100%;
    }
  }
  
  &.fsrNoLogoBg {
    picture.fsrClientLogo {
      background-color : rgba(0,0,0,0) !important;
      margin-top: -6.7em;
    }
  }
  
  &.fsrNoLogo {
    picture.fsrClientLogo {
      display : none !important;
    }
  }
  
  &.fsrLogoShadow {
    .fsrClientLogo {
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); 
	  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); 
	  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
  }
  
  &.fsrBottomRight {
    .fsrInvite {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      top: auto;
      bottom: 1.5em;
      right: 1.5em;
      position: absolute;
    }
  }
  &.fsrBottomLeft {
    .fsrInvite {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      top: auto;
      bottom: 1.5em;
      left: 1.5em;
      position: absolute;
    }
  }
  &.fsrTopLeft {
    .fsrInvite {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      bottom: auto;
      top: 1.5em;
      left: 1.5em;
      position: absolute;
    }
  }
  &.fsrTopRight {
    .fsrInvite {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      bottom: auto;
      top: 1.5em;
      right: 1.5em;
      position: absolute;
    }
  }
}
