$general-padding: 0.75em;
$general-borderradius: ($general-padding * 0.5);
$general-bigpadding: 1.5em;
$general-font-family: Arial, Helvetica, sans-serif !important;
$svglogo: url('fslogo.svg');
$svgtrustlogo: url('truste.svg');
