// Based on [Eric Meyer's reset 2.0](//meyerweb.com/eric/tools/css/reset/index.html)
// Global reset rules.
// For more specific resets, use the reset mixins provided below
@mixin global-reset {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    @include reset-box-model;
    @include reset-font;
    letter-spacing: normal;
  }
  body {
    @include reset-body;
  }
  ol, ul {
    @include reset-list-style;
  }
  table {
    @include reset-table;
  }
  caption, th, td {
    @include reset-table-cell;
  }
  q, blockquote {
    @include reset-quotation;
  }
  a img {
    @include reset-image-anchor-border;
  }
  /* @include reset-html5;  */
}

// Reset all elements within some selector scope. To reset the selector itself,
// mixin the appropriate reset mixin for that element type as well. This could be
// useful if you want to style a part of your page in a dramatically different way.
@mixin nested-reset {
  div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, select {
    @include reset-box-model;
    @include reset-font;
    width: auto;
    float: none;
    background-image: none;
  }
  table {
    @include reset-table;
  }
  caption, th, td {
    @include reset-table-cell;
  }
  q, blockquote {
    @include reset-quotation;
  }
  a img {
    @include reset-image-anchor-border;
  }
  ol, ul {
    @include reset-list-style;
  }
}

// Reset the box model measurements.
@mixin reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}

// Reset the font and vertical alignment.
@mixin reset-font {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-transform: none;
  text-indent: 0;
  color: inherit;
}

// Resets the outline when focus.
// For accessibility you need to apply some styling in its place.
@mixin reset-focus {
  outline: 0;
}

// Reset a body element.
@mixin reset-body {
  line-height: 1;
}

// Reset the list style of an element.
@mixin reset-list-style {
  list-style: none;
}

// Reset a table
@mixin reset-table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Reset a table cell (`th`, `td`)
@mixin reset-table-cell {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

// Reset a quotation (`q`, `blockquote`)
@mixin reset-quotation {
  quotes: none;
  &:before, &:after {
    content: "";
    content: none;
  }
}

// Resets the border.
@mixin reset-image-anchor-border {
  border: none;
}

// Button generator
@mixin button-gen($font-size: em($bodyfont), $color: $c-button-text, $grad-top: $c-button-grad-top, $grad-bottom: $c-button-grad-bottom, $padding: em(7, $bodyfont) em($form-element-padding-unit, $bodyfont)) {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: $padding;
  white-space: nowrap;
  -webkit-appearance: none;
  border-radius: em($question-border-radius);
  background-color: $c-app-grey-95;
  border: 1px solid $c-app-grey-95;
  cursor: pointer;
  color: #fff;
  font-size: $font-size;
  text-align: center;
  background-image: none;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin checkboxIE10Mixin() {
  &.acsIE10 {
    .acs-feedback__cbradio {
      padding-top: 0.25em;
      min-height: 2em;
      display: inline-block;
      padding-left: 0.5em;
      input {
        display: inline;
        left: auto;
        margin-right: 0.5em;
        opacity: 1;
        position: relative;
        visibility: visible;
      }
      &:before {
        display: none;
      }
    }
  }
}