<% if (meta.logo2graphic) { %>
<div class="acs-feedback-banner-img-container">
  <img src='<%=meta.logo2graphic%>' class="acs-feedback-banner-img" alt="company logo"/>
</div>
<% } %>
<div class="acs-feedback">
  <div class="acs-feedback__block acs-feedback--keyline acs-headingzone">
    <% if (meta.logo1graphic) { %>
      <img src="<%= meta.logo1graphic %>" class="acs-feedback__logo"/>
    <% } %>
  </div>
  <div class="acs-feedback__block acs-feedback--keyline acs-feedback__block--epilogue">
    <% if (meta.epiloguetext && meta.epiloguetext.length > 1) {%>
      <%= meta.epiloguetext %>
    <% } else {%>
      <h1 class="acs-feedback__heading acs-feedback__heading--h1">Your Feedback Has Been Submitted</h1>
      <p>Your opinion will help us provide you the best shopping experience - in store and online. Click &quot;OK&quot; to continue.</p>
    <% } %>
  </div>
  <button class="acs-feedback__button acs-feedback__button--expand acs-close-button acs-feedback__button--epilogue">OK</button>
  <div class="acs-footer">
    <span class="acs-footer--left">
      <a href="<%=meta.privacyurl%>" target="_blank">
        <%=meta.privacytext%>
      </a>
    </span>
    <span class="acs-powered">
      <a href="http://www.foresee.com/" target="_blank">
        <img src="<%= ansLogoSrc %>" alt="ForeSee Logo">
      </a>
    </span>
  </div>
  <div class="acs-clear"></div>
</div>