@mixin acsValidationMixin {
  .acs-feedback {
    .acs-validation-block {
      background-color: $c-app-red-20;
      padding: 0.4em;
      font-weight: bold;
      font-size: 1.3em;
      border-radius: 0.5em;
      margin-bottom: 0.5em;
      display: none;
      text-align: center;
    }
    &__block {
      &--invalid {
        background-color: $c-app-red-20;
        font-weight: bold;
        border-radius: 0.5em !important;
        padding-top:1em !important;
        padding-bottom:1em !important;
      }
      &--required {
        text-align: right;
        color: $c-app-red;
        font-size: 15px !important;
        display: none;
      }
      &--optional {
        text-align: right;
      }
    }
  }
}