<div class="__acs <%=style.presetStyles%>" id="acsFullScreenContainer" data-trapkeyboard="false">
  <div class="acsClassicInvite" id="acsMainInvite" role="dialog" aria-labelledby="acsHeading" aria-describedby="acsDescription">
    <div class="acsCloseButton--container">
      <span class="__acs--close">
        <a id="acsFocusFirst" href="#" tabindex="0" class="acsCloseButton--link acsCloseButton acsDeclineButton" title="<%=dialog.ariaCloseInvite%>"
          role="button" aria-label="<%=dialog.ariaCloseInvite%>">&#10005;</a>
      </span>
    </div>
    <div class="acsClassicInner">
      <div class="acsClassicInner__flex">
        <span class="acsLogoContainer <%=( (inviteLogo && inviteLogo.length > 0) ? '' : 'acsNoDisplay' )%> acsClassicInner__flex--left ">
          <img src="<%=(inviteLogo || '')%>" class="<%=((inviteLogo && inviteLogo.length > 0) ? 'acsSiteLogo' : 'acsNoDisplay')%>"
            title="<%=(siteLogoTitleText || '')%>" alt="<%=(siteLogoAltText || '')%>">
        </span>
        <span id="acsDialogDesc" class="acsClassicInner__flex--right">
          <h1 id="acsHeading" class="acsClassicInner__heading">
            <%= dialog.headline %>
          </h1>
          <p id="acsDescription" class="acsClassicInner__subheading">
            <%= dialog.subheadline %>
          </p>
        </span>
      </div>
      <div class="acsClassicInner__center acsClassicInner__center--flex">
        <% if (inviteType.toLowerCase() == "sms" || inviteType.toLowerCase() == "smsemail") { %>
          <div class="acsClassicInner--btn <%= (inviteType.toLowerCase() == 'smsemail') ? 'acsClassicInner--btn__left' : '' %> acsAcceptButton acsSMSInput">
            <a tabindex="0" role="button" href="#">
              <%= dialog.textButton %>
            </a>
          </div>
        <% } %>
        <% if (inviteType.toLowerCase() == "email" || inviteType.toLowerCase() == "smsemail") { %>
          <div class="acsClassicInner--btn <%= (inviteType.toLowerCase() == 'smsemail') ? 'acsClassicInner--btn__right' : '' %> acsAcceptButton acsEmailInput"
            >
            <a tabindex="0" role="button" href="#">
              <%= dialog.emailButton %>
            </a>
          </div>
        <% } %>
        <% if (inviteType.toLowerCase() == "insession") { %>
          <div class="acsClassicInner--btn acsClassicInner--btn__left acsDeclineButton">
            <a tabindex="0" role="button" href="#">
              <%= dialog.declineButton %>
            </a>
          </div>
          <div class="acsClassicInner--btn acsClassicInner--btn__right acsAcceptButton">
            <a tabindex="0" role="button" href="#">
              <%= dialog.acceptButton %>
            </a>
          </div>
        <% } %>
      </div>
    </div>
    <div class="__acs--privacy">
      <% if (typeof hideForeSeeLogoMobile === "undefined" || !hideForeSeeLogoMobile) { %>
        <span>
          <a tabindex="0" class="acsClassicInner--footer__link acsAllowDefault acsClassicInner--footer__left" href="<%=dialog.poweredbyLink%>"
            target="_blank">
            <%= dialog.poweredbyText %>
          </a>
        </span>
      <% } %>
      <span>
        <a tabindex="0" class="acsClassicInner--footer__link acsAllowDefault acsClassicInner--footer__right" href="<%=dialog.privacyPolicyLink%>"
          target="_blank">
          <%= dialog.privacyPolicyText %>
        </a>
      </span>
    </div>
  </div>
  <div class="acsClassicInvite acsClassicInvite--fullscreen acsNoDisplay" id="acsOnExitMobileInvite" role="dialog" aria-label="<%= dialog.ariaContactLabel %>">
    <div class="acsCloseButton--container">
      <span class="__acs--close">
        <a href="#" tabindex="0" id="acsContactClose" class="acsCloseButton--link acsCloseButton acsDeclineButton" title="<%=dialog.ariaCloseInvite%>"
          role="button" aria-label="<%= dialog.ariaCloseInvite %>">&#10005;</a>
      </span>
    </div>
    <span class="acsLogoContainer <%=( (inviteLogo && inviteLogo.length > 0) ? '' : 'acsNoDisplay' )%> acsClassicInner acsClassicInner__flex acsClassicInner__flex--left">
      <img src="<%=(inviteLogo || '')%>" class="<%=((inviteLogo && inviteLogo.length > 0) ? 'acsSiteLogo' : 'acsNoDisplay')%>"
        title="<%=(siteLogoTitleText || '')%>" alt="<%=(siteLogoAltText || '')%>">
    </span>
    <div class="acsClassicInvite--fullscreen__container">
      <div class="acsClassicInner__flex--landscape">
        <div class="acsClassicInvite--input-container">
          <input tabindex="0" type="tel" size="25" id="acsEmailSMSInput"
            class="acsClassicInvite__input acsClassicInvite__input--spaced acsSMSValue"
            aria-labelledby="acsPhoneEmailDesc"
          />
          <div id="acsPhoneEmailDesc" class="acsClassicInvite--placeholder">
            <%= dialog.textPlaceholder %>
          </div>
          <p id="acsInvalidInput" class="acsNoDisplay">
            <%=dialog.textInvalidation%>
          </p>
        </div>
        <div class="acsClassicInner__center">
          <div class="acsClassicInner--btn acsSubmitBtn acsAcceptButton acsClassicInner--btn__grey">
            <a role="button" tabindex="0" class="" href="#">
              <%= dialog.submitButton %>
            </a>
          </div>
        </div>
      </div>
      <div class="acsClassicInner__center acsClassicInner--footer">
        <% if (typeof hideForeSeeLogoMobile === "undefined" || !hideForeSeeLogoMobile) { %>
          <div class="acsClassicInner--description">
            <%= dialog.textDisclaimer %>
          </div>
        <% } %>
        <div class="acsClassicInner__center">
          <% if (typeof hideForeSeeLogoMobile === "undefined" || !hideForeSeeLogoMobile) { %>
            <span>
              <a class="acsClassicInner--footer__link acsAllowDefault acsClassicInner--footer__left" href="<%=dialog.poweredbyLink%>"
                target="_blank">
                <%= dialog.poweredbyText %>
              </a>
            </span>
          <% } %>
          <span>
            <a tabindex="0" class="acsClassicInner--footer__link acsAllowDefault acsClassicInner--footer__right acsClassingInner--policyLink" href="<%=dialog.termsAndConditionsLink%>"
              target="_blank">
              <%= dialog.termsAndConditionsText %>
            </a>
            <a tabindex="0" class="acsNoDisplay acsClassicInner--footer__link acsAllowDefault acsClassicInner--footer__right acsClassingInner--policyLink" href="<%=dialog.privacyPolicyLink%>"
                target="_blank">
                <%= dialog.privacyPolicyText %>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="acsClassicInvite acsClassicInvite--fullscreen__thankyou acsNoDisplay" tabindex="0" id="acsOnExitThankYou" role="dialog" aria-labelledby="acsTYHeading" aria-describedby="acsTYDesc">
    <div class="acsClassicInner--zoom-out">
      <div class="acsLogoContainer <%=( (inviteLogo && inviteLogo.length > 0) ? '' : 'acsNoDisplay' )%> acsClassicInner__center--large" aria-hidden="true">
        <img src="<%=(inviteLogo || '')%>" class="<%=((inviteLogo && inviteLogo.length > 0) ? 'acsSiteLogo' : 'acsNoDisplay')%>"
          title="<%=(siteLogoTitleText || '')%>" alt="<%=(siteLogoAltText || '')%>">
      </div>
      <div class="acsClassicInner__center">
        <h1 id="acsTYHeading" class="acsClassicInner--description__heading">
          <%= dialog.onexitheadline %>
        </h1>
        <div id="acsTYDesc" class="acsClassicInner--description__subheading ">
          <%= dialog.onexitsubheadline %>
        </div>
        <div class="acsClassicInner--description__timer" aria-hidden="true">
          <%= dialog.onexitcountertag %>
            <span class="counter">
              <%= dialog.onexitcounterval %>
            </span>...</div>
        <% if (typeof hideForeSeeLogoMobile === "undefined" || !hideForeSeeLogoMobile) { %>
          <div class="acsVendorLogoContainer">
            <div title="<%=(vendorTitleText || '')%>" alt="<%=(vendorAltText || '')%>" class="<%=(supportsSVG ? 'acsVendorLogoSVG' : 'acsNoDisplay')%>"></div>
          </div>
          <% } %>
      </div>
    </div>
  </div>
</div>
<% if (style.font) { %>
  <link href="https://fonts.googleapis.com/css?family=<%= style.font %>" rel="stylesheet" />
  <% } %>
    <style>
      .__acs,
      .__acs .acsClassicInvite .acsClassicInner h1,
      .__acs .acsClassicInvite .acsClassicInner p,
      .__acs .acsClassicInvite.acsClassicInvite--fullscreen__thankyou .acsClassicInner--description__heading,
      .__acs .acsClassicInvite.acsClassicInvite--fullscreen__thankyou .acsClassicInner--description__subheading,
      .__acs .acsClassicInvite.acsClassicInvite--fullscreen__thankyou .acsClassicInner--description__timer,
      .__acs .acsClassicInvite .acsClassicInner--footer__link,
      .__acs .acsClassicInner__center.acsClassicInner--footer .acsClassicInner--footer__link,
      .__acs .acsClassicInner__center .acsClassicInner--description {
        <% if (style.invite.textColor) {
          %>color: <%=style.invite.textColor %> !important;
          <%
        }
        %><% if (style.font) {
          %>font-family: '<%= style.font %>', Arial, Helvetica, sans-serif !important;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite .acsClassicInner,
      .__acs.acsFullScreen,
      .__acs .acsClassicInvite .acsClassicInner p,
      .__acs .acsClassicInvite .acsClassicInner h1 {
        <% if (style.font) {
          %>font-family: '<%= style.font %>', Arial, Helvetica, sans-serif !important;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite .acsClassicInner__flex {
      	<% if (style.invite.logoSwitch == true) {
          %>flex-direction: row-reverse;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite--fullscreen__container .acsClassicInvite--input-container .acsClassicInvite--placeholder,
      .__acs .acsClassicInner__heading,
      .__acs .acsClassicInner__subheading {
        <% if (style.invite.textColor) {
          %>color: <%=style.invite.textColor %> !important;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite--fullscreen__container .acsClassicInvite--input-container .acsClassicInvite__input,
      .__acs .acsClassicInvite--fullscreen__container .acsClassicInvite--input-container .acsClassicInvite__input:focus {
        <% if (style.invite.textColor) {
          %>color: <%=style.invite.textColor %> !important;
          border-bottom: solid 2px <%=style.invite.textColor %>;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite,
      .__acs .acsClassicInvite .acsClassicInner {
        <% if (style.backgroundColor) {
          %>background-color: <%=style.backgroundColor %>;
          <%
        }
        %><% if (!!style.shadowColor) {
          %>box-shadow: 0 -2px 10px 0 <%=style.shadowColor %>;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite--fullscreen,
      .__acs .acsClassicInvite--fullscreen__thankyou {
        <% if (style.fullScreenBackgroundColor) {
          %>background-color: <%=style.fullScreenBackgroundColor %>;
          <%
        }
        else if (style.backgroundColor) {
          %>background-color: <%=style.backgroundColor %>;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite--fullscreen .acsLogoContainer {
        <% if (style.fullScreenBackgroundColor || style.backgroundColor) {
          %>background-color: transparent;
/*           box-shadow: none; */
          <%
        }
        %>
      }

      .__acs .acsClassicInvite .__acs--privacy {
        <% if (style.privacyBackgroundColor) {
          %>background-color: <%=style.privacyBackgroundColor %>;
          <%
        }
        else if (style.backgroundColor) {
          %>background-color: <%=style.backgroundColor %>;
          <%
        }
        %><% if (style.invite.textColor) {
          %>color: <%=style.invite.textColor %>;
          <%
        }
        %>
      }

      .,
      .__acs .acsClassicInvite--fullscreen .acsClassicInner--btn {
        <% if (style.invite.buttonShadowColor) {
          %>box-shadow: 0 2px 4px 0 <%=style.invite.buttonShadowColor %>;
          <%
        }
        else if (style.shadowColor) {
          %>box-shadow: 0 2px 4px 0 <%=style.shadowColor %>;
          <%
        }
        %><% if (style.buttonBackgroundColor) {
          %>background-color: <%=style.buttonBackgroundColor %>;
          <%
        }
        %><% if (style.invite.buttonTextColor) {
          %>color: <%=style.invite.buttonTextColor %>;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite .acsClassicInner--btn {
      	<% if (style.invite.buttonBorderRadius) {
          %>border-radius: <%=style.invite.buttonBorderRadius %> !important;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite .acsClassicInner--btn__left {
      	<% if (style.invite.smsButtonTextColor) {
          %>color: <%=style.invite.smsButtonTextColor %>;
          <%
        }
        %><% if (style.invite.smsButtonBackgroundColor) {
          %>background-color: <%=style.invite.smsButtonBackgroundColor %>;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite .acsClassicInner--btn__right {
      	<% if (style.invite.emailButtonTextColor) {
          %>color: <%=style.invite.emailButtonTextColor %>;
          <%
        }
        %><% if (style.invite.emailButtonBackgroundColor) {
          %>background-color: <%=style.invite.emailButtonBackgroundColor %>;
          <%
        }
        %>
      }

      .__acs .acsClassicInvite .acsClassicInner--btn__grey {
        <% if (style.invite.buttonDisabledTExtColor) {
          %>color: <%=style.invite.buttonDisabledTextColor %>;
          <%
        }
        %><% if (style.invite.buttonDisabledBackgroundColor) {
          %>background-color: <%=style.invite.buttonDisabledBackgroundColor %>;
          <%
        }
        %>
      }
/*      .__acs .acsClassicInner--btn .acsSubmitBtn {
        <% if (style.invite.submitButtonTextColor) {
          %>color: <%=style.invite.submitButtonTextColor %>;
          <%
        }
        %><% if (style.invite.submitButtonBackgroundColor) {
          %>background-color: <%=style.invite.submitButtonBackgroundColor %>;
          <%
        }
        %>
       }
*/
      .__acs .acsCloseButton--link {
        <% if (style.invite.xBackgroundColor) {
          %>background-color: <%=style.invite.xBackgroundColor %>;
          <%
        }
        %><% if (style.invite.xColor) {
          %>color: <%=style.invite.xColor %>;
          <%
        }
        %><% if (style.invite.xBorderRadius) {
          %>border-radius: <%=style.invite.xBorderRadius %>;
          <%
        }
        %><% if (style.font) {
          %>font-family: Arial, Helvetica, sans-serif !important;
          <%
        }
        %>
      }

      .__acs.acsFullScreen .acsCloseButton--link {
        <% if (!!dialog.closebuttonfullscreenbg) {
          %>background-color: <%=dialog.closebuttonfullscreenbg %>;
          <%
        }
        %><% if (style.invite.xColor) {
          %>color: <%=style.invite.xColor %>;
          <%
        }
        %><% if (!!style.font) {
          %>font-family: Arial, Helvetica, sans-serif !important;
          <%
        }
        %>
      }

      .__acs #acsInvalidInput {
        <% if (style.invite.invalidColor) {
          %>color: <%=style.invite.invalidColor %>;
          <%
        }
        %>
      }
      <% if (style.customStyleBlock) { %>
      <%=style.customStyleBlock %>
     <% }%>
    </style>