@import 'vars';

.__acs {
  .acsCloseButton {
    font-size: 89%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    display: block;
    position: absolute;
    border: 1px solid #888;
    color: $bluecolor;
    text-decoration: none;
    top: 1.1em;
    right: $general-bigpadding;
    -webkit-border-radius: $general-borderradius;
    -moz-border-radius: $general-borderradius;
    border-radius: $general-borderradius;
    line-height: 1em;
    background-color: #ffffff;
    &:hover {
      background-color: #cccccc;
    }
  }
  .acsClassicInvite {
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.25);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #777;
    position: relative;
    display: inline-block;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    table.acsTableAligner {
      border-collapse: collapse;
      display: table;
      tr {
        td {
          display: table-cell;
          box-sizing: border-box;
          vertical-align: middle;
          &.acsCol1 {
            h1 {
              font-size: 1.4em;
              white-space: nowrap;
              letter-spacing: -0.03em;
              margin-bottom: $general-padding;
              color: #000000;
              line-height: 1.3em;
              @media screen and (max-width: $break-small) {
                font-size: 1.2em;
              }
            }
            @media screen and (max-width: $break-small) {
              img, div {
                font-size: 80%;
              }
            }
          }
          &.acsCol2 {
            width: 50%;
            padding-left: $general-bigpadding;
            padding-right: $general-bigpadding;
            p {
              font-size: 0.7em;
              line-height: 1.3em;
              color: #666;
              margin-bottom: $general-padding;
              &:last-child {
                margin-bottom: 0;
              }
              @media screen and (max-width: $break-small) {
                font-size: 0.6em;
              }
              .acsHeavy {
                font-weight: bold;
                color: #000;
              }
            }
          }
          @media screen and (max-width: $break-very-small) {
            &.acsCol1 {
              padding-right: ($general-padding * 2);
            }
            &.acsCol2 {
              display: none !important;
            }
          }
          &.acsCol3 {
            width: 20%;
            text-align: right;
            @media screen and (max-width: $break-small) {
              a {
                font-size: 80% !important;
              }
            }
            a {
              white-space: nowrap;
              background: #5e9bff; /* Old browsers */
              background: -moz-linear-gradient(top, #5e9bff 0%, #0062e5 44%, #0062e4 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e9bff), color-stop(44%, #0062e5), color-stop(100%, #0062e4)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top, #5e9bff 0%, #0062e5 44%, #0062e4 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top, #5e9bff 0%, #0062e5 44%, #0062e4 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top, #5e9bff 0%, #0062e5 44%, #0062e4 100%); /* IE10+ */
              background: linear-gradient(to bottom, #5e9bff 0%, #0062e5 44%, #0062e4 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e9bff', endColorstr='#0062e4', GradientType=0); /* IE6-9 */
              display: inline-block;
              color: #ffffff;
              text-decoration: none;
              font-size: 0.9em;
              padding: 0.7em;
              text-align: center;
              border-radius: $general-borderradius;
              width: 90%;
              &:first-child {
                margin-bottom: 1em;
              }
              &:hover {
                background: #0766ff; /* Old browsers */
                background: -moz-linear-gradient(top, #0766ff 0%, #004bac 49%, #004bac 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0766ff), color-stop(49%, #004bac), color-stop(100%, #004bac)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #0766ff 0%, #004bac 49%, #004bac 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #0766ff 0%, #004bac 49%, #004bac 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, #0766ff 0%, #004bac 49%, #004bac 100%); /* IE10+ */
                background: linear-gradient(to bottom, #0766ff 0%, #004bac 49%, #004bac 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0766ff', endColorstr='#004bac', GradientType=0); /* IE6-9 */
              }
            }
          }
        }
      }
    }
    table.acsLogoSpacer {
      display: table;
      border-collapse: collapse;
      tr {
        display: table-row;
        td {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    a.acsTrustSealA {
      display: inline-block;
      height: 1.5em;
      width: 4.5em;
      .acsTrusteseal {
        height: 1.5em;
        width: 4.5em;
      }
      .acsTrustesealSVG {
        background-image: $svgtrustlogo;
        background-size: 100% 100%;
        height: 1.5em;
        width: 4.5em;
      }
    }
    .acsClassicInner {
      background-color: #eeeeee;
      display: block;
      padding: $general-bigpadding;
      padding-left: ($general-bigpadding * 2);
      padding-right: ($general-bigpadding * 2);
      text-align: left;
      font-family: $general-font-family;
      .acsSiteLogo, .acsVendorLogo, .acsVendorLogoSVG {
        height: 3em;
      }
      .acsVendorLogoSVG {
        background-image: $svglogo;
        background-size: 100% 100%;
        width: 6em;
        height: 3em;
        display: inline-block;
      }
    }
  }
}