@mixin footerMixin {

  .fsrFooter {

    &--invite {
      padding-bottom: 0.9375em;
      display: flex;
      justify-content: center;
    }

    &--tracker {
      padding-bottom: 0.9375em;
      padding-left: 2em;
    }

    &__privacy {
      color: $btn-default-bg-color;
      margin: 0 0.3em;
      font-size: 0.8em;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__poweredby {
      text-decoration: none;
      margin: 0 0.3em;
      font-size: 0.8em;
      color: #627085;
    }
  }
}