<div class="__acs <%= dialog.cssInviteExtraClasses %>" aria-labelledby="heading">
    <div class="acsModalBackdrop acsAbandonButton" data-isbackdrop="true">
        <div class="acsFocusFirst acsClassicInvite <%=(isIE8 ? 'acsIE8VerticalCenter' : '')%>" id="acsMainInvite" role="dialog" aria-labelledby="heading">
            <div class="acsClassicInner" role="document">
                <table class="acsTableAligner" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="acsCol1"><h1 tabindex="2"><%=dialog.headline%></h1>
                            <table class="acsLogoSpacer" width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left">
                                        <img src="https://static.foresee.com/logos/foresee/150_67.png" class="<%=(!supportsSVG ? 'acsVendorLogo' : 'acsNoDisplay')%>" title="<%=(vendorTitleText || '')%>" alt="<%=(vendorAltText || '')%>">
                                        <div title="<%=(vendorTitleText || '')%>" alt="<%=(vendorAltText || '')%>" class="<%=(supportsSVG ? 'acsVendorLogoSVG' : 'acsNoDisplay')%>">
                                        </div>
                                    </td>
                                    <td align="center"><img src="<%=(inviteLogo || '')%>" class="<%=((inviteLogo && inviteLogo.length > 0) ? 'acsSiteLogo' : 'acsNoDisplay')%>" title="<%=(siteLogoTitleText || '')%>" alt="<%=(siteLogoAltText || '')%>">

                                    </td>
                                    <td align="right">
                                        <% if (trust.up) { %>
                                        <a tabindex="6" class="acsAllowDefault" href="<%= trust.ref.url %>" title="<%=trusteLogoAltText%>" target="_blank"><img src="https://static.foresee.com/logos/truste/250_79.png" class="acsTrusteseal <%=(supportsSVG ? 'acsNoDisplay' : '')%>" alt="TRUSTe Certified Privacy"><div class="acsTrustesealSVG <%=(supportsSVG ? '' : 'acsNoDisplay')%>"></div></a>
                                        <% } %></td>
                                </tr>
                            </table>
                        </td>
                        <td class="acsCol2"><p tabindex="3"><%=dialog.blurb%> <%=dialog.noticeAboutSurvey%></p>

                            <p tabindex="4" class="acsAttribution"><%=dialog.attribution%></p></td>
                        <td class="acsCol3"><a id="acsFocusFirst"
                                tabindex="1" href="#" class="acsInviteButton acsRightButton acsAcceptButton"
                                title="<%=dialog.acceptButtonTitleText%>"><%=dialog.acceptButton%></a><a href="#" tabindex="1"
                                                                                                class="acsInviteButton acsDeclineButton"
                                                                                                title="<%=dialog.declineButton%>"><%=dialog.declineButton%></a>
                        </td>
                    </tr>
                </table>
            </div>
            <a href="#" tabindex="7"
               class="acsCloseButton acsAbandonButton <%=(!!dialog.allowclose ? '' : 'acsNoDisplay')%>"
               title="<%=dialog.closeInviteButtonText%>" role="button">×</a>
        </div>
        <!-- On Exit Invite -->
        <div class="acsClassicInvite <%=(isIE8 ? 'acsIE8VerticalCenter' : '')%> acsNoDisplay"
             id="acsOnExitMobileInvite" role="dialog">
            <div class="acsClassicInner">
                <div class="acsLogoSpacer">
                    <img src="<%=(inviteLogo || '')%>" class="<%=((inviteLogo && inviteLogo.length > 0) ? 'acsSiteLogo' : 'acsNoDisplay')%>" title="<%=(siteLogoTitleText || '')%>" alt="<%=(siteLogoAltText || '')%>">
                    <img src="https://static.foresee.com/logos/foresee/150_67.png" class="<%=(!supportsSVG ? 'acsVendorLogo' : 'acsNoDisplay')%>" title="<%=(vendorTitleText || '')%>" alt="<%=(vendorAltText || '')%>">
                    <div title="<%=(vendorTitleText || '')%>" alt="<%=(vendorAltText || '')%>" class="<%=(supportsSVG ? 'acsVendorLogoSVG' : 'acsNoDisplay')%>">
                    </div>
                </div>

                <h1><%=dialog.onexitheadline%></h1>

                <p><%=dialog.onexitblurb%></p>

                <p id="acsInvalidInput" class="acsNoDisplay"><%=(inviteType == 'SMSEMAIL' ?
                    dialog.onexitinvalidFormatErrorText : (inviteType == 'SMS' ? dialog.onexitinvalidsmstext :
                    (inviteType == 'EMAIL' ? dialog.onexitinvalidemailtext : '')))%></p>

                <p><input
                        type="<%=(inviteType == 'SMSEMAIL' ? 'email' : (inviteType == 'SMS' ? 'tel' : (inviteType == 'EMAIL' ? 'email' : '')))%>"
                        tabindex="11"
                        placeholder="<%=(inviteType == 'SMSEMAIL' ? dialog.onexitinputMessage : (inviteType == 'SMS' ? dialog.onexitinputMessageJustMobile : (inviteType == 'EMAIL' ? dialog.onexitinputMessageJustEmail : '')))%>"
                        id="acsEmailSMSInput" title="Please provide your phone number or email."></p>

                <p class="acsAttribution"><%=dialog.onexitattribution%></p>
                <a href="#" tabindex="12" class="acsInviteButton acsDeclineButton"
                   title="<%=dialog.onexitdeclineButton%>" role="button"><%=dialog.onexitdeclineButton%></a><a tabindex="13" href="#"
                                                                                                 class="acsInviteButton acsRightButton acsAcceptButton"
                                                                                                 title="<%=(inviteType == 'SMSEMAIL' ? dialog.onexitacceptButton : (inviteType == 'SMS' ? dialog.onexittextMeButtonText : (inviteType == 'EMAIL' ? dialog.onexitemailMeButtonText : '')))%>" role="button"><%=(inviteType
                == 'SMSEMAIL' ? dialog.onexitacceptButton : (inviteType == 'SMS' ? dialog.onexittextMeButtonText :
                (inviteType == 'EMAIL' ? dialog.onexitemailMeButtonText : '')))%></a>
                <% if (trust.up) { %>
                <a tabindex="14" class="acsAllowDefault" href="<%= trust.ref.url %>" title="<%=trusteLogoAltText%>" target="_blank"><img src="https://static.foresee.com/logos/truste/250_79.png" class="acsTrusteseal <%=(supportsSVG ? 'acsNoDisplay' : '')%>" alt="TRUSTe Certified Privacy"><div class="acsTrustesealSVG <%=(supportsSVG ? '' : 'acsNoDisplay')%>"></div></a>
                <% } %>
            </div>
            <a href="#" tabindex="7"
               class="acsCloseButton acsAbandonButton <%=(!!dialog.allowclose ? '' : 'acsNoDisplay')%>"
               title="<%=dialog.closeInviteButtonText%>" role="button">×</a>
        </div>
    </div>
</div>
