<div class="__acs acsAdmin">

    <h1 id="acsAdminHeader">Survey Administration</h1>
    <img src="<%=(siteLogo || '')%>" class="fsrBoxLogo">
    <hr/>
    <h2>Note</h2>

    <p>Changes made using this diagnostics page only affect your current session. The values modified below are stored
        in persistent storage on this machine only and cannot affect other visitors. These changes will not affect
        production site operation for any other user.</p>

    <h2>Instructions</h2>

    <ol>
        <li>Click clear to remove all settings from your session.</li>
        <li>Enter desired sampling percentage(s) for testing.</li>
        <li>Click set. This will drop a persistent setting that represents the entered values. It will only affect YOUR
            SESSION and not other visitors to the site.
        </li>
        <li>Proceed with navigating the website to reach your parameters and receive a survey invitation.</li>
    </ol>

    <div class="acsFocusBox">
        <h3>Sampling Percentages</h3>

        <div id="acsAdminFormZone">
            <table id="acsAdminTable">
                <tr>
                    <th>Measure</th>
                    <th>Sampling Percentage</th>
                    <th>SP Override</th>
                    <th>Loyalty Factor</th>
                    <th>LF Override</th>
                </tr>
                <% for ( var i = 0; i < defs.length; i++ ) { %>
                <Tr>
                    <td><%=defs[i].name%><%
                        if (defs[i].site) { %>-<%=defs[i].site%><%} %><%
                        if (defs[i].section) { %>-<%=defs[i].section%><% } %></td>
                    <td><%=defs[i].criteria.sp.reg%></td>
                    <td><input type="text" class="acsSPOverride" id="_spovr_<%=defs[i].name%>" value="" placeholder="<%=defs[i].criteria.sp.reg%>"></td>
                    <td><%=defs[i].criteria.lf%></td>
                    <td><input type="text" class="acsLFOverride" id="_lfovr_<%=defs[i].name%>" value="" placeholder="<%=defs[i].criteria.lf%>"></td>
                </Tr>
                <% } %>
            </table>
        </div>
        <hr />
        <p><input type="checkbox" id="acsOverridePooling" name="acsOverridePooling"> <label for="acsOverridePooling">Override
            Pooling</label></p>
        <button id="acsSetValues">Set</button>
        |
        <button id="acsClearValues">Clear state</button>
        |
        <button id="acsReturnToSite">Return to site</button>
        |
        <span id="fsMessage"></span>
    </div>

    <div class="acsFooter"><a href="http://www.foresee.com" target="_blank">© 2016 ForeSee, an Answers company. All
        rights
        reserved</a>&nbsp;&nbsp;|&nbsp;&nbsp; <a href="http://www.foresee.com/Privacy.html" target="_blank">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="http://developer.answerscloud.com" target="_blank">Technical Support</a></div>
</div>