// Invite..
$invite-background: #ffffff;
$close-btn-color: #3A475B;
$box-shadow-color: #627085;
$close-btn-text-color: #ffffff;
$close-btn-color-fullscreen: transparent;
$close-btn-text-color-fullscreen: #627085;
$pp-background-color: #E9ECF2;
$invite-text-color: #222B3C;
$invalid-text-color: lighten(#F24554, 10%);
$fullscreen-background: rgba(255, 255, 255, 0.9);
$fullscreen-shadow: #627085;
$svglogo: url('https://static.foresee.com/logos/foresee/grey/foresee.svg');
// Button..
$btn-background: #3A475B;
$btn-shadow: none;
$btn-disabled-background: #B7C0CC;
$btn-text-color: #ffffff;
// Modules
@import 'vars';
@import 'mixin';
@import 'reset';
@import 'invite';
@import 'tracker';
@import 'animation';