<div class="__acs <%= dialog.cssInviteExtraClasses %>" id="acsFullScreenContainer" aria-labelledby="heading">
  <div class="acsCloseButton--container" id="acsinviteCloseButton">
    <span class="__acs--close">
      <a href="#" tabindex="5" class="acsCloseButton--link acsCloseButton acsDeclineButton" title="<%=dialog.closeInviteButtonText%>" role="button">&#10005;</a>
    </span>
  </div>
  <div class="acsClassicInvite" id="acsMainInvite" role="dialog" aria-labelledby="heading">
    <div class="acsClassicInner" role="document">
      <div class="acsClassicInner__flex">
        <span class="acsLogoContainer acsClassicInner__flex--left">
          <img tabindex="1" id="acsFocusFirst" src="<%=(inviteLogo || '')%>" class="<%=((inviteLogo && inviteLogo.length > 0) ? 'acsSiteLogo' : 'acsNoDisplay')%>" title="<%=(siteLogoTitleText || '')%>" alt="<%=(siteLogoAltText || '')%>">
        </span>
        <span class=" acsClassicInner__flex--right">
          <h1 tabindex="1" class="acsClassicInner__heading"><%= dialog.headline %></h1>
          <p tabindex="2" class="acsClassicInner__subheading"><%= dialog.subheadline %></p>
        </span>
      </div>
      <div class="acsClassicInner__center acsClassicInner__center--flex">
        <% if (inviteType.toLowerCase() == "sms" || inviteType.toLowerCase() == "smsemail") { %>
          <div tabindex="3" class="acsClassicInner--btn <%= (inviteType.toLowerCase() == 'smsemail') ? 'acsClassicInner--btn__left' : '' %> acsAcceptButton acsSMSInput" title="" role="button"><a href="#"><%= dialog.textButton %></a></div>
        <% } %>
        <% if (inviteType.toLowerCase() == "email" || inviteType.toLowerCase() == "smsemail") { %>
          <div tabindex="3" class="acsClassicInner--btn <%= (inviteType.toLowerCase() == 'smsemail') ? 'acsClassicInner--btn__right' : '' %> acsAcceptButton acsEmailInput" title="" role="button"><a href="#"><%= dialog.emailButton %></a></div>
        <% } %>
        <% if (inviteType.toLowerCase() == "insession") { %>
          <div tabindex="3" class="acsClassicInner--btn acsClassicInner--btn__left acsDeclineButton" title="" role="button"><a href="#"><%= dialog.declineButton %></a></div>
          <div tabindex="3" class="acsClassicInner--btn acsClassicInner--btn__right acsAcceptButton" title="" role="button"><a href="#"><%= dialog.acceptButton %></a></div>
        <% } %>
      </div>
    </div>
    <div class="__acs--privacy">
      <% if (typeof hideForeSeeLogoMobile === "undefined" || !hideForeSeeLogoMobile) { %>
      <span>
        <a tabindex="4" class="acsClassicInner--footer__link acsAllowDefault acsClassicInner--footer__left" href="<%=dialog.poweredbyLink%>" target="_blank"><%= dialog.poweredbyText %></a>
      </span>
      <% } %>
      <span>
        <a tabindex="4" class="acsClassicInner--footer__link acsAllowDefault acsClassicInner--footer__right" href="<%=dialog.privacyPolicyLink%>" target="_blank"><%= dialog.termsAndConditionText %></a>
      </span>
    </div>
  </div>
  <div class="acsClassicInvite acsClassicInvite--fullscreen acsNoDisplay" id="acsOnExitMobileInvite" role="dialog" aria-labelledby="heading">
    <span class="acsLogoContainer acsClassicInner acsClassicInner__flex acsClassicInner__flex--left">
      <img tabindex="1" id="acsFirstFocus" src="<%=(inviteLogo || '')%>" class="<%=((inviteLogo && inviteLogo.length > 0) ? 'acsSiteLogo' : 'acsNoDisplay')%>" title="<%=(siteLogoTitleText || '')%>" alt="<%=(siteLogoAltText || '')%>">
    </span>
    <div class="acsClassicInvite--fullscreen__container">
      <div class="acsClassicInner__flex--landscape">
        <div class="acsClassicInvite--input-container">
          <input tabindex="1" type="tel" size="25" id="acsEmailSMSInput" class="acsClassicInvite__input acsClassicInvite__input--spaced acsSMSValue"/>
          <div class="acsClassicInvite--placeholder"><%= dialog.textPlaceholder %></div>
          <p id="acsInvalidInput" class="acsNoDisplay"><%=dialog.textInvalidation%></p>
        </div>
        <div class="acsClassicInner__center">
          <div tabindex="2" class="acsClassicInner--btn acsSubmitBtn acsAcceptButton acsClassicInner--btn__grey" title="" role="button">
            <a class="" href="#"><%= dialog.submitButton %></a>
          </div>
        </div>
      </div>
      <div class="acsClassicInner__center acsClassicInner--footer">
        <% if (typeof hideForeSeeLogoMobile === "undefined" || !hideForeSeeLogoMobile) { %>
        <div tabindex="3" class="acsClassicInner--description"><%= dialog.textDisclaimer %></div>
        <span>
          <a tabindex="4" class="acsClassicInner--footer__link acsAllowDefault acsClassicInner--footer__left" href="<%=dialog.poweredbyLink%>" target="_blank"><%= dialog.poweredbyText %></a>
        </span>
        <% } %>
        <span>
          <a tabindex="4" class="acsClassicInner--footer__link acsAllowDefault acsClassicInner--footer__right" href="<%=dialog.privacyPolicyLink%>" target="_blank"><%= dialog.privacyPolicyText %></a>
        </span>
      </div>
    </div>
  </div>
  <div class="acsClassicInvite acsClassicInvite--fullscreen__thankyou acsNoDisplay" id="acsOnExitThankYou" role="dialog">
    <div class="acsClassicInner--zoom-out">
      <div class="acsLogoContainer acsClassicInner__center--large">
        <img src="<%=(inviteLogo || '')%>" class="<%=((inviteLogo && inviteLogo.length > 0) ? 'acsSiteLogo' : 'acsNoDisplay')%>" title="<%=(siteLogoTitleText || '')%>" alt="<%=(siteLogoAltText || '')%>">
      </div>
      <div class="acsClassicInner__center">
        <h1 class="acsClassicInner--description__heading"><%= dialog.onexitheadline %></h1>
        <div class="acsClassicInner--description__subheading "><%= dialog.onexitsubheadline %></div>
        <div class="acsClassicInner--description__timer"><%= dialog.onexitcountertag %><span class="counter"><%= dialog.onexitcounterval %></span>...</div>
        <% if (typeof hideForeSeeLogoMobile === "undefined" || !hideForeSeeLogoMobile) { %>
          <div class="acsVendorLogoContainer">
            <div title="<%=(vendorTitleText || '')%>" alt="<%=(vendorAltText || '')%>" class="<%=(supportsSVG ? 'acsVendorLogoSVG' : 'acsNoDisplay')%>"></div>
          </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if (!!dialog.font) { %>
  <link href="https://fonts.googleapis.com/css?family=<%= dialog.font %>" rel="stylesheet"/>
<% } %>
<style>
  .__acs,
  .__acs .acsClassicInvite .acsClassicInner h1,
  .__acs .acsClassicInvite .acsClassicInner p,
  .__acs .acsClassicInvite.acsClassicInvite--fullscreen__thankyou .acsClassicInner--description__heading,
  .__acs .acsClassicInvite.acsClassicInvite--fullscreen__thankyou .acsClassicInner--description__subheading,
  .__acs .acsClassicInvite.acsClassicInvite--fullscreen__thankyou .acsClassicInner--description__timer,
  .__acs .acsClassicInvite .acsClassicInner--footer__link,
  .__acs .acsClassicInner__center.acsClassicInner--footer .acsClassicInner--footer__link,
  .__acs .acsClassicInner__center .acsClassicInner--description {
    <% if (dialog.textcolor) { %>
      color: <%= dialog.textcolor %>;
    <% } %>
    <% if (!!dialog.font) { %>
      font-family: '<%= dialog.font %>', Arial, Helvetica, sans-serif !important;
    <% } %>
  }
  .__acs .acsClassicInvite .acsClassicInner,
  .__acs.acsFullScreen,
  .__acs .acsClassicInvite .acsClassicInner p,
  .__acs .acsClassicInvite .acsClassicInner h1 {
    <% if (!!dialog.font) { %>
      font-family: '<%= dialog.font %>', Arial, Helvetica, sans-serif !important;
    <% } %>
  }
  .__acs .acsClassicInvite--fullscreen__container .acsClassicInvite--input-container .acsClassicInvite__input,
  .__acs .acsClassicInvite--fullscreen__container .acsClassicInvite--input-container .acsClassicInvite__input:focus {
    <% if (dialog.textcolor) { %>
      color: <%= dialog.textcolor %> !important;
      border-bottom: solid 2px <%= dialog.textcolor %>;
    <% } %>
  }
  .__acs .acsClassicInvite, .__acs .acsClassicInvite .acsClassicInner {
    <% if (!!dialog.invitebg) { %>
      background-color: <%= dialog.invitebg %>;
    <% } %>
    <% if (!!dialog.shadowcolor) { %>
      box-shadow: 0 -2px 10px 0 <%= dialog.shadowcolor %>;
    <% } %>
  }
  .__acs .acsClassicInvite--fullscreen, .__acs .acsClassicInvite--fullscreen__thankyou {
    <% if (!!dialog.fullscreenbg) { %>
      background-color: <%= dialog.fullscreenbg %>;
    <% } else if (!!dialog.invitebg) { %>
      background-color: <%= dialog.invitebg %>;
    <% } %>
  }
  .__acs .acsClassicInvite--fullscreen .acsLogoContainer {
    <% if (!!dialog.fullscreenbg || !!dialog.invitebg) { %>
      background-color: transparent;
      box-shadow: none;
    <% } %>
  }
  .__acs .acsClassicInvite .__acs--privacy {
    <% if (!!dialog.bannerprivacybg) { %>
      background-color: <%= dialog.bannerprivacybg %>;
    <% } else if (!!dialog.invitebg) { %>
      background-color: <%= dialog.invitebg %>;
    <% } %>
    <% if (dialog.textcolor) { %>
      color: <%= dialog.textcolor %>;
    <% } %>
  }
  .__acs .acsClassicInvite .acsClassicInner--btn,
  .__acs .acsClassicInvite--fullscreen .acsClassicInner--btn {
    <% if (!!dialog.buttonshadowcolor) { %>
      box-shadow: 0 2px 4px 0 <%= dialog.buttonshadowcolor %>;
    <% } else if (!!dialog.shadowcolor) { %>
      box-shadow: 0 2px 4px 0 <%= dialog.shadowcolor %>;
    <% } %>
    <% if (!!dialog.buttonbg) { %>
      background-color: <%= dialog.buttonbg %>;
    <% } %>
    <% if (!!dialog.buttontextcolor) { %>
      color: <%= dialog.buttontextcolor %>;
    <% } %>
  }
  .__acs .acsClassicInvite--fullscreen .acsClassicInner--btn__grey {
    <% if (!!dialog.buttondisabledbg) { %>
      background-color: <%= dialog.buttondisabledbg %>;
    <% } %>
  }
  .__acs .acsCloseButton--link {
    <% if (!!dialog.closebuttonbg) { %>
      background-color: <%= dialog.closebuttonbg %>;
    <% } %>
    <% if (!!dialog.closebuttontextcolor) { %>
      color: <%= dialog.closebuttontextcolor %>;
    <% } %>
    <% if (!!dialog.font) { %>
      font-family: Arial, Helvetica, sans-serif !important;
    <% } %>
  }
  .__acs.acsFullScreen .acsCloseButton--link {
    <% if (!!dialog.closebuttonfullscreenbg) { %>
      background-color: <%= dialog.closebuttonfullscreenbg %>;
    <% } %>
    <% if (!!dialog.closebuttontextcolor) { %>
      color: <%= dialog.closebuttontextcolor %>;
    <% } %>
    <% if (!!dialog.font) { %>
      font-family: Arial, Helvetica, sans-serif !important;
    <% } %>
  }
  .__acs #acsInvalidInput {
    <% if (dialog.invalidtextcolor) { %>
      color: <%= dialog.invalidtextcolor %>;
    <% } %>
  }
</style>