@import 'vars';
#fsrReminder {
    body {
        overflow: auto !important;
    }
    .__acs {
        #fsrReminderMain {
            h2 {
                font-weight: bold;
            }
            #fsrReminderBody {
                margin-top: 0.75em;
            }
            #rmdrButtonZone {
                margin-top: 0.75em;
            }
        }
    }
}