
// Default Colors (overridden in survey def, if defined)
$btn-default-bg-color: #595959;
$btn-default-txt-color: #FFFFFF;

// Invite client log dimensions
$client-logo-height: 5.5em;
$client-logo-padding: 0.3em;

// Default font settings
$font-color: #000000;
$font-family: 'Lato', sans-serif;
$font-size: 16px;