* text=auto !eol
/README.MD -text
assets/fs.storageframe.html -text
assets/fs.tracker.html -text
assets/fshya.png -text
assets/fslogo.png -text
assets/fslogo.svg -text
assets/fsrboxlogo.png -text
assets/loadimg.gif -text
assets/seal.gif -text
assets/sitelogo.png -text
bin/emailtemplate.html -text
bin/embedsnippet.html -text
bin/oracleInsert.jar -text
bin/selfhostemailtemplate.html -text
clientconfig/client_properties.js -text
clientconfig/gateway_config.js -text
clientconfig/record_config.js -text
clientconfig/trigger_config.js -text
/gulpfile.js -text
/package.json -text
smoketest/crossprotocol.html -text
smoketest/emptyframe.html -text
smoketest/french.html -text
smoketest/layout1.html -text
smoketest/mobile1.html -text
smoketest/tc/browse.html -text
smoketest/tc/checkout.html -text
smoketest/tc/thanksforpurchasing.html -text
smoketest/test1.html -text
smoketest/test2.html -text
smoketest/test3.html -text
smoketest/tmp.css -text
templates/admintools/assets/fslogo.svg -text
templates/admintools/assets/ie8backdrop.gif -text
templates/admintools/assets/truste.svg -text
templates/admintools/assets/wait.gif -text
templates/admintools/html/admin.html -text
templates/admintools/html/optout.html -text
templates/admintools/sass/_admin.scss -text
templates/admintools/sass/_reset.scss -text
templates/admintools/sass/_vars.scss -text
templates/admintools/sass/main.scss -text
templates/classicdesktop/assets/fslogo.svg -text
templates/classicdesktop/assets/ie8backdrop.gif -text
templates/classicdesktop/assets/truste.svg -text
templates/classicdesktop/assets/wait.gif -text
templates/classicdesktop/html/invite.html -text
templates/classicdesktop/html/qualifier.html -text
templates/classicdesktop/html/tracker.html -text
templates/classicdesktop/sass/_backdrop.scss -text
templates/classicdesktop/sass/_invite.scss -text
templates/classicdesktop/sass/_qualifier.scss -text
templates/classicdesktop/sass/_reset.scss -text
templates/classicdesktop/sass/_tracker.scss -text
templates/classicdesktop/sass/_vars.scss -text
templates/classicdesktop/sass/main.scss -text
templates/classicmobile/assets/fslogo.svg -text
templates/classicmobile/assets/ie8backdrop.gif -text
templates/classicmobile/assets/truste.svg -text
templates/classicmobile/assets/wait.gif -text
templates/classicmobile/html/invite.html -text
templates/classicmobile/html/qualifier.html -text
templates/classicmobile/html/tracker.html -text
templates/classicmobile/sass/_backdrop.scss -text
templates/classicmobile/sass/_invite.scss -text
templates/classicmobile/sass/_reset.scss -text
templates/classicmobile/sass/_tracker.scss -text
templates/classicmobile/sass/_vars.scss -text
templates/classicmobile/sass/main.scss -text
templates/greylargedesktop/assets/fslogo.svg -text
templates/greylargedesktop/assets/ie8backdrop.gif -text
templates/greylargedesktop/assets/truste.svg -text
templates/greylargedesktop/assets/wait.gif -text
templates/greylargedesktop/html/invite.html -text
templates/greylargedesktop/html/qualifier.html -text
templates/greylargedesktop/html/tracker.html -text
templates/greylargedesktop/sass/_backdrop.scss -text
templates/greylargedesktop/sass/_invite.scss -text
templates/greylargedesktop/sass/_reset.scss -text
templates/greylargedesktop/sass/_tracker.scss -text
templates/greylargedesktop/sass/_vars.scss -text
templates/greylargedesktop/sass/main.scss -text
templates/ribbondesktop/assets/fslogo.svg -text
templates/ribbondesktop/assets/ie8backdrop.gif -text
templates/ribbondesktop/assets/truste.svg -text
templates/ribbondesktop/assets/wait.gif -text
templates/ribbondesktop/html/invite.html -text
templates/ribbondesktop/html/qualifier.html -text
templates/ribbondesktop/html/tracker.html -text
templates/ribbondesktop/sass/_backdrop.scss -text
templates/ribbondesktop/sass/_invite.scss -text
templates/ribbondesktop/sass/_reset.scss -text
templates/ribbondesktop/sass/_tracker.scss -text
templates/ribbondesktop/sass/_vars.scss -text
templates/ribbondesktop/sass/main.scss -text
templates/tuxedo/assets/fslogo.svg -text
templates/tuxedo/assets/ie8backdrop.gif -text
templates/tuxedo/assets/truste.svg -text
templates/tuxedo/assets/wait.gif -text
templates/tuxedo/html/invite.html -text
templates/tuxedo/html/qualifier.html -text
templates/tuxedo/html/tracker.html -text
templates/tuxedo/sass/_backdrop.scss -text
templates/tuxedo/sass/_fonts.scss -text
templates/tuxedo/sass/_invite.scss -text
templates/tuxedo/sass/_reset.scss -text
templates/tuxedo/sass/_tracker.scss -text
templates/tuxedo/sass/_vars.scss -text
templates/tuxedo/sass/main.scss -text
