/.idea
dist/foresee/*
!dist/foresee/.gitkeep
dist/fsrtestingcodecid12345_selfhost_1460307167200.zip
dist/production_hotdeploy_embed.txt
dist/production_taggeddeploy_embed.txt
dist/staging_hotdeploy_embed.txt
dist/staging_taggeddeploy_embed.txt
extern/clientcode/tags/19.0.13
extern/clientcode/tags/19.0.3
extern/clientcode/tags/19.0.5b1
extern/clientcode/tags/19.1.0
extern/clientcode/tags/19old
extern/clientcode/tags/**
!extern/clientcode/tags/.gitkeep
extern/gateway/tags/1.1.4
extern/gateway/tags/1.1.9
extern/gateway/tags/*
!extern/gateway/tags/.gitkeep
/node_modules
smoketest/AviosGlyphs.ttf
smoketest/AviosGlyphs.woff
smoketest/jquery.js
/node_modules/
/1.2.0
/yarn.lock
/dist
*.lock
.vscode/
/_upgrade
/yarn-error.log
