@import "survey";

// Modal CSS and Customizations for this template..
.acsModalContainer--m_and_s {
  @extend %acsModalContainer;
}

// Badge and ReportBadge CSS and customizations for this template..
._acsbadge--m_and_s {
  @extend %_acsbadge;
  // Badge and ReportBadge CSS and customizations for this template..
  border-radius: $badge-border-radius;
  border: 1px solid $c-app-ms-badge-content;
  ._acsBadgeLabel {
    color: $c-app-ms-badge-content;
  }
}

._acsreport--m_and_s {
  @extend %_acsreport;
}

// Popup CSS and customizations for this template..
.acsMainContainerMobile--m_and_s {
  @extend %acsMainContainerMobile;
}

// In Page report frame container and customizations for this template..
.acsFrameContainer--m_and_s {
  @extend .acsFrameContainer;
}

// Full Page Version Container and customizations for this template..
.acsMainContainerFullPage--m_and_s {
  @extend %acsMainContainerFullPage;
}